<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Forget Password</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <%- include("../components/navbar") %>
    <form action="/forgetPassword" method="post">
      <input type="email" name="email" placeholder="Email" required />
      <input type="submit" value="Send OTP" />
    </form>
  </body>
</html>
